.useradd-container {

  .content-title {
    height: 36px;
    width: 100%;
    text-indent: 10px;
    line-height: 36px;
    font-size: 15px;
    color: white;
    background-color: #474544;
  }

  .content{
    .container{
      margin: 0 auto;
      margin-top: 15px;
      width: 480px;
      height: auto;
      padding-bottom: 60px;
    }
  }
}
